@using Azure.Storage.Blobs.Models
@model Azure.Pageable<BlobItem>

<table class="table table-bordered">
    <tr>
        <th>Blob Name</th><th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="Details" asp-route-blobName="@item.Name">Preview</a>
                <a asp-action="Download" asp-route-blobName="@item.Name">Download</a>
                <a asp-action="Delete" asp-route-blobName="@item.Name">Delete</a>
            </td>
        </tr>
    }
</table>